NEXT_PUBLIC_SITE_URL=https://naverahomes.com
NEXT_PUBLIC_SUPABASE_URL=https://cfzuypbljirmibmxpabi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_META_PIXEL_ID=
